.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo-img {
  width: 100px;
  margin-bottom: 10px;
}

.footer__title {
  font-size: 1.25rem;
  color: #ffcc00;
}

.footer__social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__social-links li {
  font-size: 1.1rem;
}

.social-link {
  color: #0e0e0e;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #e5e8ef;
}

.social-link i {
  font-size: 1.5rem;
}

.social-link span {
  font-size: 1rem;
}
.footer {
  padding: 50px 0px;
  background: #dda168;
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 8rem;
  align-items: center;
}

.footer__logo img {
  width: calc(100% - 70%);
  margin-bottom: 1.5rem;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 29px;
}

.delivery__time-item {
  display: flex;
  margin: 0;
  gap: 0.7rem;
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  color: #212245;
  margin: 0;
}

.delivery__time-item p {
  color: #212245;
}

.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer__logo img {
    width: calc(100% - 85%);
  }

  .footer__title {
    font-size: 0.9rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}
